[Desktop Entry]
Version=0.0.5
Name=RPM Spec Editor
Comment=GUI tool for editing RPM spec files
Exec=rpm-spec-editor
Icon=rpm-spec-editor
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=true
